<ul class="example-orbit" data-orbit>
  <li class="active">
    <%= image_tag "awesome-stickers-slider1.jpg" %>
    <div class="orbit-caption">
      Unlimited designs...awesome quality!
    </div>
  </li>
  <li>
    <%= image_tag "awesome-stickers-slider2.jpg" %>
    <div class="orbit-caption">
      Bumper & car stickers.
    </div>
  </li>
  <li>
    <%= image_tag "awesome-stickers-slider3.jpg" %>
    <div class="orbit-caption">
      Mobile phone & laptop stickers.
    </div>
  </li>
</ul>

<!-- start thumbnail section after the slider -->
<section class="row">
  <h4>Get started, select the sticker you'd like:</h4>
  <%= link_to image_tag("awesome-stickers-thumbnails1.jpg"), stickers_path, class: "th" %>
  <%= link_to image_tag("awesome-stickers-thumbnails2.jpg"), stickers_path, class: "th" %>
  <%= link_to image_tag("awesome-stickers-thumbnails3.jpg"), stickers_path, class: "th" %>
  <%= link_to image_tag("awesome-stickers-thumbnails4.jpg"), stickers_path, class: "th" %>
  <hr>
</section>
<!-- end thumbnail section after the slider -->
<section class="row">
  <h4>How it works:</h4>
  <p>This is basically how it works: You select the sticker you'd like e.g. "Car Stickers", select the design you'd
    like, then contact us to get the nearest stockist. At the same time, you can still order online and get the sticker
    delivered to you for free. <span class="[success alert secondary] label">That's what we call awesome!</span></p>
</section>



